.MainContainer {
    padding-top: 3em;
    padding-right: 4em;
    padding-left: 4em;
    color: black;
}

.image-col {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: rgb(60, 60, 60);
    padding: 1em;
    border-radius: 0.5em;
    margin-top: 0.5em;
    transition: all 0.5s ease;
}

.filtre-col {
    flex: 0 0 0%;
    max-width: 0%;
    overflow: hidden;
    color: white;
    transition: all 0.5s ease;
    opacity: 0;
    max-height: 0%;
    height: 0;
}

#toggle-filtre:checked~.ImageContainer .image-col {
    flex: 0 0 75%;
    max-width: 75%;
}

#toggle-filtre:checked~.ImageContainer .filtre-col {
    flex: 0 0 25%;
    max-width: 25%;
    opacity: 1;
    height: auto;
}

.btn-filtre {
    display: inline-block;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 0.5em;
}

.ImageContainer {
    background-color: rgb(60, 60, 60);
    margin-top: 4em;
    padding-right: 2em;
    margin-bottom: 5em;
    border-radius: 0.5em;
}

.ImageContainer>.row {
    padding-left: 2em;
}

.TitreImage {
    color: black;
    background-color: rgba(110, 110, 110, 0.8);
    margin-bottom: 10px;
    text-align: center;
    border-radius: 0.3em;
    margin-top: 10px;
}

.ImageContainer img {
    border-radius: 0.5em;
}

#checkboxDemacia {
    margin-bottom: 1.5em;
}

.enfants {
    border: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 0.5em;
    padding-bottom: 10px;
}

.enfants>a {
    text-decoration: none;
    color: inherit;
}