nav {
    background-color: black;
    color: aqua;
    padding: 0.5em;
    text-decoration: none;
}

body {
    background-image: url(/images/World_Map_29.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
    margin-top: 3em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.MainCol {
    background-color: rgb(80, 80, 80);
    color: black;
    transition: 0.3s;
    border-radius: 1em;
}

.MainContainer {
    max-width: 100%;
    padding-top: 3em;
    padding-bottom: 6em;
    padding-right: 4em;
    padding-left: 4em;
    color: black;
}

.MainRow {
    margin-top: 1.5em;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: rgba(110, 110, 110, 0.8);
    border-radius: 1em;
}

#Noxus:hover {
    color: rgb(120, 15, 15);
    background-color: rgb(70, 70, 70);
    transform: scale(1.03);
    border-radius: 0.5em;
}

#Shurima:hover {
    color: rgb(190, 160, 40);
    background-color: rgb(70, 70, 70);
    transform: scale(1.03);
    border-radius: 0.5em;
}

#Demacia:hover {
    color: rgb(245, 245, 250);
    background-color: rgb(70, 70, 70);
    transform: scale(1.03);
    border-radius: 0.5em;
}

.MainCol ul {
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
    display: inline-block;
}

#Titre {
    background-color: rgba(110, 110, 110, 0.8);
    color: black;
    padding: 0.7em 1.5em;
    border-radius: 1em;
    display: block;
    text-align: center;
}