nav {
    background-color: black;
    color: aqua;
    padding: 0.5em;
}

body {
    background-image: url(/images/World_Map_29.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
    margin-top: 3em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}